@import 'scss/config';
@import 'scss/utilities';
@import 'scss/media-query';

// Secondary header
.top {
  height: 2rem;
  background-color: $primary-color;
  color: set-text-color($primary-color);
}
.secondary-header {
  height: 15vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  img {
    width: 120px;
    height: auto;
    text-align: left;
  }
  div {
    a {
      text-decoration: none;
      cursor: pointer;
      &:hover {
        background-color: $main-color;
      }
    }
    b {
      font-size: 1.5rem;
      font-weight: bold;
      color: black;
    }
    p {
      color: black;
      margin: 0;
      font-weight: bold;
    }
  }
  div {
    padding: 5px;
    i {
      color: black;
    }
  }

  @include md {
    grid-template-columns: repeat(3, 1fr);
    height: 20vh;
    img {
      width: 100px;
      height: auto;
    }
    div {
      b {
        font-size: 1rem;
      }
      p {
        font-weight: normal;
      }
    }
  }

  @include sm {
    grid-template-columns: repeat(1, 1fr);
    img {
      width: 100px;
      height: auto;
    }
    div {
      b {
        display: none;
      }
      p {
        display: none;
      }
    }
    div {
      i {
        display: none;
      }
    }
  }
  @include xs {
    grid-template-columns: repeat(1, 1fr);
    img {
      width: 100px;
      height: auto;
    }
    div {
      b {
        display: none;
      }
      p {
        display: none;
      }
    }
    div {
      i {
        display: none;
      }
    }
  }
}

// navbar
.border-bottom {
  padding-top: 1rem;
  border-bottom: 3px solid $primary-color;
}
.brand {
  font-size: 3rem;
  margin-right: 0;
  width: 80px;
  height: auto;
  cursor: pointer;

  @include md {
    font-size: 2rem;
    width: 80px;
    height: auto;
  }
  @include sm {
    font-size: 2rem;
    width: 60px;
    height: auto;
  }
  @include xs {
    font-size: 2rem;
    width: 60px;
    height: auto;
  }
  span {
    color: $dark-color;
  }
}

.navLink {
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  transition: border-color 0.5s;
  cursor: pointer;
  &:hover {
    border-color: $medium-color;
  }
  &.current {
    border-color: $main-color;
  }
}

// How can we help
.specials {
  margin-top: 3rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  img {
    border: 1px solid $medium-color;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
    height: 250px;
  }

  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
  h3 {
    color: $dark-color;
    padding-bottom: 0.4rem;
  }
  @include md {
    grid-template-columns: repeat(1, 1fr);
    img {
      width: 400px;
      height: auto;
    }
  }
  @include sm {
    grid-template-columns: repeat(1, 1fr);
  }
  @include xs {
    grid-template-columns: repeat(1, 1fr);
  }
}

// Why Us
.features {
  margin-top: 2rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  div {
    border: 1px #2b2d2f solid;
    padding: 2rem;
  }
  @include md {
    grid-template-columns: repeat(1, 1fr);
  }
  @include sm {
    grid-template-columns: repeat(1, 1fr);
  }
  @include xs {
    grid-template-columns: repeat(1, 1fr);
  }
  .icon-color {
    color: $main-color;
    padding-bottom: 0.4rem;
  }
  a {
    color: red;
  }
}

// Contact
// .text-fields {
//   display: grid;
//   grid-template-areas:
//     'name email'
//     'subject phone'
//     'message message';
//   grid-gap: 1.2rem;
//   margin-bottom: 1.2rem;

//   // Grid Areas
//   .name-input {
//     grid-area: name;
//   }
//   .subject-input {
//     grid-area: subject;
//   }
//   .email-input {
//     grid-area: email;
//   }
//   .phone-input {
//     grid-area: phone;
//   }
//   .message-input {
//     grid-area: message;
//     height: 150px;
//   }
//   .text-input {
//     padding: 0.5rem 1rem;
//   }
// }

// Footer
.footer {
  background: $primary-color;
  color: set-text-color($primary-color);
  height: auto;
  text-align: justify;
  hr {
    height: 2px;
    width: 100%;
    background: $main-color;
    display: block;
    margin: 0 auto 1rem auto;
  }
  a {
    color: #fff;
    font-weight: bold;
  }
}

// Signup Signin
.box {
  width: 50%;
  margin: 0 auto;
}

// HomeHeader
.header-home {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    $bg-image no-repeat center right / cover;
  height: 60vh;
  color: #fff;
  @include sm {
    height: 50vh;
  }
  @include xs {
    height: 50vh;
  }

  .header-content {
    text-align: center;
    padding-top: 10%;
    h1 {
      font-size: 4rem;
      line-height: 1;
      @include sm {
        padding-top: 2rem;
        font-size: 3rem;
        line-height: 1.2;
      }
      @include xs {
        padding-top: 2rem;
        font-size: 2rem;
        line-height: 1.2;
      }
    }
    a {
      text-decoration: none;
    }
  }
}

//Our Team
.meetTheTeam {
  span {
    color: $main-color;
    font-weight: bold;
  }
}
// .ups {
//   h2 {
//     color: $dark-color;
//   }
//   p {
//     color: #444;
//   }
// }
.staff {
  padding-top: 1rem;
  h2 {
    font-weight: bold;
  }
  hr {
    height: 2px;
    width: 100%;
    background: $medium-color;
    display: block;
    margin: 0 auto 1rem auto;
  }
}

.leadership {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  h2 {
    color: $dark-color;
    font-weight: bold;
  }
  // grid-gap: 1rem;
  // grid-template-columns: repeat(2, 1fr);
  @include md {
    // grid-template-columns: repeat(1, 1fr);
    display: flex;
    flex-wrap: wrap;
  }
  @include sm {
    display: block;
    // grid-template-columns: repeat(1, 1fr);
  }
  @include xs {
    display: block;
  }
}

.ourTeam {
  padding: 1rem;
  text-align: center;
  h4 {
    color: $dark-color;
  }
  b {
    color: $main-color;
  }
  img {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    // border: 5px $main-color solid;
    @include md {
      width: 250px;
      height: 250px;
    }
    @include sm {
      width: 200px;
      height: 200px;
    }
    @include xs {
      width: 200px;
      height: 200px;
    }
  }
  div {
    width: 380px;
    height: auto;
    span {
      font-weight: bold;
    }
    p {
      text-align: justify;
    }
  }
  @include md {
    div {
      width: 280px;
      height: auto;
      span {
        font-weight: bold;
      }
    }
  }
  @include sm {
    div {
      width: 300px;
      height: auto;
      span {
        font-weight: bold;
      }
    }
  }
  @include xs {
    div {
      width: 300px;
      height: auto;
      span {
        font-weight: bold;
      }
    }
  }
}

// Compliance partners
.compliance-logos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
  padding: 4rem;

  img {
    width: 160px;
    height: 100px;
    border-radius: 8px;
  }

  @include md {
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem;
    grid-gap: 1.5rem;
    img {
      width: 120px;
      height: 70px;
      border-radius: 8px;
    }
  }
  @include xs {
    display: none;
    img {
      display: none;
    }
  }

  @include sm {
    display: none;
    img {
      display: none;
    }
  }
}
