@import 'scss/config';
@import 'scss/utilities';
@import 'scss/media-query';

// Secondary header
.secondary-header {
  background: $primary-color;
  height: 2rem;
  p {
    display: inline;
  }
  span {
    padding: 10px;
  }
  .md-devices {
    @include md {
      display: none;
    }
    @include sm {
      display: none;
    }
    @include xs {
      display: none;
    }
  }
}

// navbar
.brand {
  font-size: 3rem;
  margin-right: 0;
  width: 80px;
  height: auto;
  cursor: pointer;

  @include md {
    font-size: 2rem;
    width: 80px;
    height: auto;
  }
  @include sm {
    font-size: 2rem;
    width: 60px;
    height: auto;
  }
  @include xs {
    font-size: 2rem;
    width: 60px;
    height: auto;
  }
  span {
    color: $dark-color;
  }
}

.navLink {
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  transition: border-color 0.5s;
  cursor: pointer;
  &:hover {
    border-color: $medium-color;
  }
  &.current {
    border-color: $main-color;
  }
}

// How can we help
.specials {
  margin-top: 3rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  img {
    border: 1px solid $medium-color;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
    height: 250px;
  }

  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
  h3 {
    color: $dark-color;
    padding-bottom: 0.4rem;
  }
  @include md {
    grid-template-columns: repeat(1, 1fr);
    img {
      width: 400px;
      height: auto;
    }
  }
  @include sm {
    grid-template-columns: repeat(1, 1fr);
  }
  @include xs {
    grid-template-columns: repeat(1, 1fr);
  }
}

// Why Us
.features {
  margin-top: 2rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  @include md {
    grid-template-columns: repeat(1, 1fr);
  }
  @include sm {
    grid-template-columns: repeat(1, 1fr);
  }
  @include xs {
    grid-template-columns: repeat(1, 1fr);
  }
  .icon-color {
    color: $main-color;
    padding-bottom: 0.4rem;
  }
  a {
    color: red;
  }
}

// Contact
.text-fields {
  display: grid;
  grid-template-areas:
    'name email'
    'subject phone'
    'message message';
  grid-gap: 1.2rem;
  margin-bottom: 1.2rem;

  // Grid Areas
  .name-input {
    grid-area: name;
  }
  .subject-input {
    grid-area: subject;
  }
  .email-input {
    grid-area: email;
  }
  .phone-input {
    grid-area: phone;
  }
  .message-input {
    grid-area: message;
    height: 150px;
  }
  .text-input {
    padding: 0.5rem 1rem;
  }
}

// Footer
.footer {
  background: $primary-color;
  color: set-text-color($primary-color);
  height: auto;
  text-align: justify;
  hr {
    height: 2px;
    width: 100%;
    background: $main-color;
    display: block;
    margin: 0 auto 1rem auto;
  }
  a {
    color: #fff;
    font-weight: bold;
  }
}

// Signup Signin
.box {
  width: 50%;
  margin: 0 auto;
}

// HomeHeader
.header-home {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    $bg-image no-repeat center right / cover;
  height: 60vh;
  color: #fff;

  .header-content {
    text-align: center;
    padding-top: 10%;
    h1 {
      font-size: 4rem;
      line-height: 1;
    }
    a {
      text-decoration: none;
    }
  }
}

//Our Team
.meetTheTeam {
  span {
    color: $primary-color;
    font-weight: bold;
  }
}
.ups {
  h2 {
    color: $dark-color;
  }
  p {
    color: #444;
  }
}
.leadership {
  margin-top: 2rem;
  justify-content: center;
  display: flex;
  // grid-gap: 1rem;
  // grid-template-columns: repeat(2, 1fr);
  @include md {
    // grid-template-columns: repeat(1, 1fr);
    display: flex;
    flex-wrap: wrap;
  }
  @include sm {
    display: block;
    // grid-template-columns: repeat(1, 1fr);
  }
  @include xs {
    display: block;
  }
}

.ourTeam {
  padding: 1rem;
  h4 {
    color: $dark-color;
  }
  b {
    color: $main-color;
  }
  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px $main-color solid;
  }
}
